<?xml version="1.0" encoding="UTF-8" ?>
<launch>

    <remap from="/usb_cam/image_raw" to="/xtion/rgb/image_raw"/>

    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node">
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="Camera" args="0 0 0 0 0 0 1 /map /head_camera 100" />

    <node name="face_rec" pkg="face_rec" type="face_rec.py"/>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find face_rec)/rviz/demo.rviz" />

</launch>
